@media (min-width: 100px) {

    .navbar{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .logo-home-link-img{
        position: relative;
        margin: 10px;
        width: 168px;
        height: auto;

    }

    .profile-menu-container{
        position: relative;
        margin-left: auto;
        margin-right: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 22px;

    }

    .profile-pic{
        width: 52px;
        height: auto;
    }

    .menu-link{
        width: 30px;
        height: auto;
    }


}

@media (min-width: 576px){
    

}

@media (min-width: 768px){

}

@media (min-width: 992px) {

    .navbar{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

    }



}