body{
    background-image: url(../img/background-login-pc.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

@media (min-width: 100px) {

    .login-form-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo-login{
        width: 293px;
        height: auto;
        position: relative;
    }


    .login-form{
        width: 100%;
        position: relative;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }

    .email-password-register-container{
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

    .email-container{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .email-text, .password-text{
        color: #FFDDDD;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .password-container{
        width: 100%;
        position: relative;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .email-input, .password-input{
        width: 100%;
        background: #FFDDDD;
        border: 0px solid transparent;
        border-radius: 8px;
        padding: 10px 14px;
        color: #5C0002;
        font-size: 15px;
        font-weight: 500;
    }

    .register-container{
        width: 100%;
        position: relative;
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }

    .forgot-password-link{
        position: relative;
        margin-bottom: 0px;
        color: #FFDDDD;
        font-size: 14px;
        font-weight: 700;
        transition: all 0.2s ease;
    }

    .register-link{
        position: relative;
        display: flex;
        margin-left: auto;
        margin-bottom: 0px;
        color: #FFDDDD;
        font-size: 15px;
        font-weight: 800;
        text-decoration: none;
        transition: all 0.2s ease;
    }

    .log-in-btn{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 12px 90px;
        background: #FFDDDD;
        border: 0px solid transparent;
        border-radius: 8px;
        color: #B70004;
        font-size: 20px;
        font-weight: 800;
    }

    .register-link:hover, .forgot-password-link:hover{
        color: #FFDDDD;
        filter: brightness(90%);
    }

    .register-link:active, .forgot-password-link:active{
        color: #FFDDDD;
        filter: brightness(80%);
    }

    .log-in-btn:hover{
        filter: brightness(90%);
    }

    .log-in-btn:active{
        filter: brightness(80%);
    }


}

@media (min-width: 576px){
    
    .login-form-container{
        width: 60%;
    }

    .logo-login{
        position: relative;
        display: flex;
        margin: 0 auto;
    }

    .log-in-btn{
        width: 60%;
    }


}

@media (min-width: 768px){

    
    .login-form-container{
        width: 60%;
    }

    .logo-login{
        position: relative;
        display: flex;
        margin: 0 auto;
    }

    .log-in-btn{
        width: 60%;
    }
}

@media (min-width: 992px) {

    .login-form-container{
        width: 40%;
    }

    .logo-login{
        position: relative;
        width: 400px;
        display: flex;
        margin: 0 auto;
    }

    .log-in-btn{
        width: 40%;
    }

}