@media (min-width: 100px) {

    .navbar{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .logo-home-link-img{
        position: relative;
        margin: 10px;
        width: 168px;
        height: auto;
        transition: all 0.2s ease;
    }

    .logo-home-link-img:hover{
        filter: brightness(110%);
    }
    
    .logo-home-link-img:active{
        filter: brightness(90%);
    }


    .arrow-back-container{
        position: relative;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        transition: all 0.2s ease;
    }

    .arrow-back-icon{
        transition: all 0.2s ease;
    }

    .page-name{
        position: relative;
        color: #5C0002;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0px;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .arrow-back-container:hover{
        filter:brightness(110%);
    }

    .arrow-back-container:active{
        filter: brightness(90%);
    }

    .main-elements{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        margin-top: 30px;
    }

    .profile-link{
        position: relative;
        display: flex;
        margin: 0 auto;
        justify-content: center;
                text-decoration: none;
    }

    .profile-container{
        position: relative;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
    }

    .profile-pic{
        width: 144px;
        height: 144px;
        position: relative;
        display: flex;
        margin: 0 auto;
        border-radius: 50%;
    }

    .name-surname-contianer{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        margin: 0 auto;
        justify-content: center;
    }

    .name-surname-contianer p{
        text-align: center;
        color: #5C0002;
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 0px;
        text-decoration: none;
    }

    .menu-elements-list{
        position: relative;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        list-style-type: none;
        padding-left: 0px;

    }

    .menu-list-element{
        position: relative;
        margin-left: 20px;
    }

    .menu-list-item-link-container{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        transition: all 0.2s ease;
    }

    .menu-list-item-icon{
        width: 28px;
    }

      .menu-list-item-icon-1{
        width: 28px;
        height: 22px;
    }

    .menu-list-item-text{
        position: relative;
        color: #5C0002;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0px;
    }


    .menu-list-item-link-container:hover{
        filter: brightness(110%);
    }

    .menu-list-item-link-container:active{
        filter: brightness(90%);
    }

    .log-out-btn{
        background-image: url(../img/background-red-elements.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        border-radius: 8px;
        padding: 14px 50px;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        transition: all 0.2s ease;
    }

    .log-out-text{
        position: relative;
        color: #FFDDDD;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .log-out-btn:hover{
        filter:brightness(110%);
    }

    .log-out-btn:active{
        filter: brightness(90%);
    }

}

@media (min-width: 576px){

    .main-elements{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        margin-top: 100px;
    }

}

@media (min-width: 768px){
    .main-elements{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        margin-top: 100px;
    }

}

@media (min-width: 992px) {
    
    .navbar{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .main-elements{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        margin-top: 30px;
    }

}