@media (min-width: 100px) {

    .register-form-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo-register{
        width: 293px;
        height: auto;
        position: relative;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }

    .register-form{
        width: 100%;
        position: relative;
        display: flex;
        margin: 0 auto;
        flex-direction: column;

    }

    .inputs-container{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .input-container{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .input-text{
        color: #B70004;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .input{
        width: 100%;
        background: #FFDDDD;
        border: 0px solid transparent;
        border-radius: 8px;
        padding: 10px 14px;
        color: #5C0002;
        font-size: 15px;
        font-weight: 500;
    }

    .login-container{
        width: 100%;
        position: relative;
        margin-top: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .already-have-an-account-text{
        position: relative;
        margin-bottom: 0px;
        color: #B70004;
        font-size: 14px;
        font-weight: 700;
        transition: all 0.2s ease;

    }

    .login-link{
        position: relative;
        display: flex;
        margin-left: auto;
        margin-bottom: 0px;
        color: #B70004;
        font-size: 15px;
        font-weight: 800;
        text-decoration: none;
        transition: all 0.2s ease;

    }

    .register-btn{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        padding: 12px 76px;
        border: 0px solid transparent;
        border-radius: 8px;
        background-image: url(../img/background-red-elements.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        color: white;
        font-size: 20px;
        font-weight: 800;
        transition: all 0.2s ease;
    }

    
    .login-link:hover{
        color: #B70004;
        filter: brightness(110%);
    }

    .login-link:active{
        color: #B70004;
        filter: brightness(80%);
    }

    .register-btn:hover{
        filter: brightness(110%);
    }

    .register-btn:active{
        filter: brightness(80%);
    }
}

@media (min-width: 576px){
    
    .register-form-container{
        width: 60%;
    }

    .register-btn{
        width: 60%;
    }
}

@media (min-width: 768px){

    .register-form-container{
        width: 60%;
    }

    .register-btn{
        width: 60%;
    }
}

@media (min-width: 992px) {

    .register-form-container{
        width: 40%;
    }

    .logo-register{
        position: relative;
        width: 400px;
        display: flex;
        margin: 0 auto;
    }

    .register-btn{
        width: 40%;
    }


}