@media (min-width: 100px) {
        
    .navbar{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    
    .logo-home-link-img{
        position: relative;
        margin: 10px;
        width: 168px;
        height: auto;
        transition: all 0.2s ease;
    }

    .profile-menu-container{
        position: relative;
        margin-left: auto;
        margin-right: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 22px;

    }

    .profile-pic{
        width: 52px;
        height: auto;
        transition: all 0.2s ease;
    }

    .menu-link{
        width: 30px;
        height: auto;
        transition: all 0.2s ease;
    }

    .menu-link:hover, .profile-pic:hover, .logo-home-link-img:hover{
        filter: brightness(110%);
    }
    .menu-link:active, .profile-pic:active, .logo-home-link-img:active{
        filter: brightness(90%);
    }

    .arrow-back-container{
        position: relative;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        transition: all 0.2s ease;
    }

    .arrow-back-icon{
        transition: all 0.2s ease;
    }

    .page-name{
        position: relative;
        color: #5C0002;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0px;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .arrow-back-container:hover{
        filter:brightness(110%);
    }

    .arrow-back-container:active{
        filter: brightness(90%);
    }

    .choose-country-text{
        position: relative;
        color: #5C0002;
        font-size: 22px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 0px;
        margin-left: 16px;
    }

    .book-container{
        position: relative;
        background: url(../img/book-cover.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        width: 99%;
        height: 805px;
        display: flex;
        margin: 0 auto;
        margin-top: 14px;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
        box-shadow: 0px 0px 16px rgb(93, 8, 8, 0.6);
    }

    .pages-container{
        position: relative;
        background: url(../img/pages-bgrnd.svg);
        width: 341px;
        height: 762px;
        margin-top: 18px;
        margin-bottom: 26px;
        margin-left: 5px;
        margin-right: 15px;
    }

    



}

@media (min-width: 576px){}

@media (min-width: 768px){}

@media (min-width: 992px) {

    .navbar{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

}